.container {
    width: 550px;
    margin: auto 0; /* Set auto margin for top and bottom, 0 for left and right */
    padding: 20px;
    text-align: left;
    overflow: auto; /* Enable scrolling if content exceeds the viewport */
    background-size: cover;
    transition: background-image 1s ease-in-out;
    margin-top: -50px;
}

.news-item {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

h2 {
    padding-top: 20px;
}

p {
    text-align: justify;
}

img {
    float: right;
    width: 35%; /* Adjusted image size to fit smaller screen */
    height: 35%; /* Adjusted image size to fit smaller screen */
    margin-left: 10px;
}
